html,
body {
  font-family: "Muli", Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 0px;
  margin: 0px;
  color: #222; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal; }

a {
  text-decoration: none; }

b,
strong {
  font-weight: normal;
  font-family: "Open Sans"; }

img {
  border: none;
  max-width: 100%; }

a img {
  display: block; }

#page {
  background: #fff;
  max-width: 1920px;
  margin: 0 auto;
  /* overflow: hidden; */ }

.c,
.c5,
.c10,
.c15,
.c20,
.c30,
.c3,
.c2,
.c80 {
  clear: both; }

.c {
  height: 0px; }

.c3 {
  height: 3px; }

.c4 {
  height: 4px; }

.c5 {
  height: 5px; }

.c10 {
  height: 10px; }

.c15 {
  height: 15px; }

.c20 {
  height: 20px; }

.c30 {
  height: 30px; }

.c50 {
  height: 50px; }

.text-line-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

.text-line-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }

.text-line-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical; }

.text-line-5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical; }

.text-line-6 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical; }

.text-line-7 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical; }

.text-line-8 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical; }

.text-line-10 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical; }

.text-line-12 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 12;
  -webkit-box-orient: vertical; }

.more-text {
  float: right;
  cursor: pointer; }

.line {
  width: 40px;
  height: 30px;
  z-index: 1111;
  margin: auto;
  position: relative;
  display: flex;
  color: #86b646;
  color: #86b646;
  align-items: center;
  justify-content: center; }
  .line::before {
    content: "";
    width: 70px;
    height: 2px;
    background: #27562c;
    position: absolute;
    left: -120px;
    top: 50%; }
  .line::after {
    content: "";
    width: 70px;
    height: 2px;
    background: #27562c;
    position: absolute;
    right: -120px;
    top: 50%; }

.white {
  color: #FFF !important; }

.colormain {
  color: #27562c !important; }

.colorsub {
  color: #005585 !important; }

.text-center {
  text-align: center; }

.top-header {
  max-height: 60px;
  background: #27562ce8;
  overflow: hidden; }

.header-social {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0; }
  .header-social li {
    margin: 10px;
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: #86b646;
    text-align: center;
    border-radius: 50%; }
    .header-social li a {
      color: #FFF;
      transition: .3s all ease-in;
      overflow: hidden; }
    .header-social li:hover {
      background: #27562c; }
    .header-social li :hover i {
      animation: socialFxD .5s forwards; }

.header-order {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  color: #FFF; }
  .header-order img {
    width: 25px;
    margin-top: 10px;
    transform: rotate(345deg);
    margin-top: 10px;
    margin-right: 10px; }

/* HEADER */
.header {
  background: #27562c;
  /* top: -100px; */
  width: 100%;
  z-index: 3;
  box-shadow: 7px 8px 14px #747474ad; }

.logo {
  float: left;
  padding: 5px;
  max-width: 160px; }

.logo img,
.logo-mobile img {
  display: block; }

.logo-mobile {
  float: left;
  margin-left: 10px;
  margin-top: 5px; }

.menubar {
  float: right;
  text-align: center; }

.menu-title {
  background: #27562c;
  color: #fff;
  padding: 12px;
  border-radius: 5px 5px 0px 0px;
  cursor: pointer; }

.nav {
  padding: 0px;
  margin: 0px;
  font-weight: normal;
  max-width: 1200px; }

.nav > li {
  list-style: none;
  display: inline-block;
  position: relative;
  float: left;
  font-size: 13px;
  font-weight: normal;
  height: 80px;
  line-height: 84px;
  margin: 0px 2px; }

.nav li:first-child {
  border-left: none; }

.nav li:last-child {
  margin-right: 0; }

.nav li:last-child a {
  padding-right: 0; }

.nav > li > a {
  text-decoration: none;
  color: #FFF;
  display: inherit;
  padding: 0px;
  padding: 0 12px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Helve"; }

.nav > li:hover > a {
  color: #86b646; }

.nav > li.active > a {
  color: #86b646; }

.nav > li > a img {
  margin-right: 8px; }

.nav li ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 250px;
  text-align: left;
  display: none;
  padding: 0px;
  opacity: 0.98;
  z-index: 999999;
  font-weight: normal;
  background: #27562c;
  text-transform: initial; }

.nav li:hover ul {
  display: block; }

.nav li ul > li {
  width: 100%;
  list-style: none;
  float: left;
  text-align: left;
  border: none;
  text-transform: initial;
  line-height: normal;
  position: relative; }

.nav li ul > li a {
  font-family: R-b;
  padding: 0px 10px;
  display: block;
  color: #fff;
  line-height: 18px;
  text-transform: initial;
  padding: 8px 10px;
  border-top: solid 1px #ccc; }

.nav > li > ul > li > a:hover {
  color: #86b646; }

.nav li ul ul {
  left: 100%;
  top: -1px; }

.mega-menu {
  width: 100% !important;
  left: 0px !important;
  /*
background: rgba(185,8,18,0.8) !important;
    */
  background: rgba(0, 0, 0, 0.8) !important;
  padding: 10px 0px !important; }

.mega-menu-item {
  padding: 10px 0px;
  line-height: initial !important;
  border-bottom: solid 1px #333;
  padding-left: 10px; }

.mega-menu-item a {
  color: #fff; }

.mega-menu-item:hover {
  background: #555; }

.mobile-bar {
  background-color: #fff;
  width: 100%;
  padding: 3px; }

.lang-flag {
  float: right;
  /* margin-top: 2px; */
  border: none;
  margin-left: 15px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden; }

.createdate {
  color: #999;
  font-size: 12px; }

.header-mb {
  position: relative;
  z-index: 11;
  padding: 10px;
  background-color: #27562c; }

.menu-mobile {
  position: absolute;
  top: 25px;
  right: 10px;
  font-size: 30px;
  color: #FFF; }

.banner img {
  height: 100vh;
  object-fit: cover;
  width: 100%; }
.banner .swiper-button-next {
  transform: translateX(120%);
  transition: all .5s ease-out; }
.banner .swiper-button-prev {
  transform: translateX(-120%);
  transition: all .5s ease-out; }
.banner:hover .swiper-button-next {
  transform: translateX(-100%); }
.banner:hover .swiper-button-prev {
  transform: translateX(100%); }

/* END HEADER */
.footer {
  background-image: url(/uploaded/files/bg-footerf.png);
  background-repeat: no-repeat;
  background-position: initial;
  position: relative;
  background-size: cover;
  z-index: 2; }

.footer a {
  color: #fff;
  font-size: 16px;
  padding: 7px 0px; }

.crumb {
  padding: 10px 0px;
  font-size: 12px;
  background-color: #fff;
  text-align: center;
  width: 100%;
  margin: auto;
  border-bottom: 1px solid #f5f5f5; }

.crumb-gray .crumb {
  background-color: #f5f5f5; }

.crumb a {
  color: #6d6e71;
  text-decoration: none;
  padding: 0 10px;
  border-left: 1px solid #3c3c3c;
  font-size: 18px;
  position: relative; }

.crumb a:first-child {
  padding-left: 0;
  border-left: none; }

.crumb a:last-of-type {
  color: #00af97;
  padding-left: 10px;
  font-weight: 700; }

.menu-footer {
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  padding: 10px 0px; }

.menu-footer a {
  font-size: 13px;
  color: #333;
  margin-right: 20px;
  text-decoration: none; }

.linksmo {
  float: left;
  width: 100%; }

.linksmo img {
  float: left;
  margin-right: 5px; }

.linksmo a {
  color: #333;
  margin-bottom: 10px;
  display: inline-block;
  width: 34px;
  height: 34px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  line-height: 34px;
  margin-right: 5px; }

.album img {
  display: block; }

.video-photo {
  padding: 4px;
  border: solid 1px #ccc; }

.video-photo img {
  display: block; }

#button-btt {
  position: fixed;
  right: 10px;
  bottom: 70px;
  color: #0059bd;
  background: #ccc;
  padding: 10px;
  opacity: 0.8;
  z-index: 10; }

#button-btt a {
  color: #fff; }

.view-detail {
  display: block;
  color: #fff;
  background: #244294;
  padding: 10px 30px;
  box-shadow: 0px 0px 3px #999;
  float: left; }

.error {
  border: solid 1px #ff0000 !important; }

.btn-send {
  padding: 10px 25px;
  border: solid 1px #ccc;
  text-align: center;
  font-size: 18px;
  display: block;
  cursor: pointer;
  border-radius: 5px;
  background: #FFF;
  border: 1px solid #17a98a;
  color: #17a98a;
  float: right; }

.btn-dangky {
  padding: 10px 20px;
  border: solid 1px #ccc;
  border-radius: 5px;
  background-color: #17a98a;
  font-size: 18px;
  display: block;
  cursor: pointer;
  color: #fff;
  float: left;
  text-align: center;
  color: #FFF; }

.search-mobile {
  width: 100%;
  position: relative;
  display: none; }

.search-mobile input {
  width: 100%;
  height: 30px; }

.m-search-icon {
  position: absolute;
  right: 10px;
  top: 6px;
  color: #ef5994; }

.homeslide-prev,
.homeslide-next {
  position: absolute;
  top: 50%;
  z-index: 9;
  margin-top: -30px;
  cursor: pointer; }

.footer-title {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 20px;
  position: relative;
  font-weight: 600; }
  .footer-title:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: #FFF;
    left: 0;
    bottom: -10px;
    transition: all .5s ease; }
  .footer-title:hover::before {
    width: 100%; }

.footer-infor a {
  display: flex; }

.footer-infor a i {
  margin-right: 10px; }

.homeabout-wrapper .img-about {
  padding: 50px 0px; }

.title-wrapper {
  font-size: 30px;
  font-weight: 600;
  font-family: "Helve"; }

.homeabout-wrapper .item {
  width: 50%;
  padding: 0px;
  background-color: #f7f7f7;
  position: relative;
  display: flex;
  align-items: center; }
  .homeabout-wrapper .item:hover .btn-play {
    transform: translate(-50%, -50%); }
.homeabout-wrapper .desc {
  padding: 0px 100px; }
.homeabout-wrapper .btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 11;
  transform: translate(-70%, -50%);
  transition: all .5s ease-in; }
.homeabout-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .homeabout-wrapper ul li {
    padding: 5px 0px; }
.homeabout-wrapper .btn-more {
  padding: 10px 25px;
  background: #86b646;
  border-radius: 20px;
  color: #FFF;
  font-weight: 600;
  transition: all .5s ease-in; }
  .homeabout-wrapper .btn-more:hover {
    background: #27562c; }

.homeproduct-wrapper, .product-wrapper {
  padding: 50px 0px; }
  .homeproduct-wrapper #slide-index_product, .product-wrapper #slide-index_product {
    padding: 30px 0px; }
  .homeproduct-wrapper .swiper-slide .slidehome, .homeproduct-wrapper .item, .product-wrapper .swiper-slide .slidehome, .product-wrapper .item {
    text-align: center;
    box-shadow: 0px 0px 20px #e1e1e1;
    margin: 5px;
    transition: all .5s ease-in-out; }
    .homeproduct-wrapper .swiper-slide .slidehome:hover, .homeproduct-wrapper .item:hover, .product-wrapper .swiper-slide .slidehome:hover, .product-wrapper .item:hover {
      box-shadow: 0px 11px 20px #b9b9b9; }
  .homeproduct-wrapper .name-product, .product-wrapper .name-product {
    padding: 20px;
    color: #27562c;
    text-align: center;
    clear: both; }
    .homeproduct-wrapper .name-product a, .product-wrapper .name-product a {
      font-weight: 900;
      font-size: 18px;
      color: #27562c; }
  .homeproduct-wrapper .item, .product-wrapper .item {
    margin-bottom: 30px; }

.homearticle-wrapper {
  padding: 0px 0px 50px 0px; }
  .homearticle-wrapper .item {
    overflow: hidden;
    box-shadow: 0px 0px 20px #e1e1e1;
    margin: 15px;
    transition: all .5s ease-in-out; }
    .homearticle-wrapper .item:hover {
      box-shadow: 0px 11px 20px #b9b9b9; }
      .homearticle-wrapper .item:hover a {
        color: #27562c;
        font-weight: 900;
        overflow: hidden; }
      .homearticle-wrapper .item:hover img {
        transition: all .5s ease-in; }
  .homearticle-wrapper h3 {
    padding: 10px 0px 0px;
    margin: 0; }
  .homearticle-wrapper .content {
    padding: 15px; }
  .homearticle-wrapper .desc {
    padding: 10px 0px; }

.footer {
  background-color: #27562c; }

.footer-top {
  background-color: #86b646;
  color: #FFF; }
  .footer-top i {
    float: left;
    margin-right: 20px;
    -webkit-transition: .5s all;
    transition: .5s all;
    font-size: 60px;
    margin-top: 0px; }
  .footer-top h3 {
    margin: 5px; }
  .footer-top p {
    margin: 0; }

.sendmail__frm {
  position: relative; }

.sendmail__btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  outline: none;
  font-size: 15px;
  height: 100%;
  padding: 0 17px;
  background-color: #27562c;
  color: #fff;
  font-weight: 600;
  border-radius: 0px 20px 20px 0px; }

.sendmail__input {
  width: 100%;
  position: relative;
  outline: none;
  border: 0;
  padding: 8px 20px 10px;
  border-radius: 20px;
  line-height: 20px; }

.footer-info {
  color: #FFF; }
  .footer-info p {
    font-size: 15px;
    color: #FFE;
    margin: 10px 0px; }
  .footer-info h4 {
    font-size: 18px;
    margin-bottom: 15px; }
  .footer-info .left {
    text-align: right; }
  .footer-info .right {
    text-align: left; }

.footer a {
  color: #fff;
  font-size: 16px;
  padding: 7px 0px; }

.menu-footer {
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  padding: 10px 0px; }

.menu-footer a {
  font-size: 13px;
  color: #333;
  margin-right: 20px;
  text-decoration: none; }

.footer-infor a {
  display: flex; }

.footer-main {
  padding: 50px 0 0px;
  position: relative; }
  .footer-main::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    background-color: #FFF;
    left: 50%;
    top: 30px;
    transform: translate(-50%, 0px); }
  .footer-main img {
    max-width: 100px; }
  .footer-main img.img-bct {
    max-width: 200px; }

.footer-block {
  padding-left: 40px; }

.footer-copyright {
  background-color: transparent;
  border-top: 1px solid #cacaca;
  color: #fff;
  font-size: 13px;
  text-align: left;
  padding: 15px; }

.footer-social {
  padding: 0;
  margin: 0;
  margin: 20px 0;
  list-style: none;
  display: flex;
  align-items: center; }

a.footer-social__item {
  border-radius: 50%;
  background-color: #fff;
  width: 40px;
  color: #27562c;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  padding: 10px 8px;
  text-align: center; }

.footer-social__item:hover {
  background-color: #86b646;
  color: #fff !important; }

.product-wrapper .ord {
  color: #FFF;
  background: #27562c;
  padding: 10px 25px;
  border-radius: 20px;
  position: relative;
  transition: all .5s ease-in-out; }
  .product-wrapper .ord:hover {
    background-color: #86b646; }
.product-wrapper ul {
  list-style: none; }
.product-wrapper .simplePagerNav:nth-child(1) {
  display: none; }
.product-wrapper .simplePagerNav {
  display: flex;
  justify-content: center; }
  .product-wrapper .simplePagerNav li {
    width: 30px;
    height: 30px;
    margin: 6px;
    border: 1px solid #27562c;
    padding: 5px;
    text-align: center;
    border-radius: 50%; }
    .product-wrapper .simplePagerNav li a {
      font-weight: 900;
      color: #27562c; }
    .product-wrapper .simplePagerNav li.currentPage {
      background-color: #86b646; }
      .product-wrapper .simplePagerNav li.currentPage a {
        color: #FFF; }

.menu-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px; }
  .menu-bar .tab-title {
    padding: 5px 25px;
    margin: 5px;
    border-radius: 5px; }
    .menu-bar .tab-title.active {
      border: 1px solid #333; }
  .menu-bar a {
    font-weight: 600;
    color: #27562c; }
