<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Hoàng Long</title>
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
  <meta name="theme-color" content="#0099ff" />
  <meta http-equiv="Content-Language" content="VN" />
  <meta name="description" content="Fibo Capital" />
  <meta name="keywords" content="" />
  <meta property="og:url" name="og:url" content="" data-app />
  <meta property="og:type" name="og:type" content="website" data-app />
  <meta property="og:description" name="og:description" content="Fibo Capital" data-app />
  <meta property="og:title" name="og:title" content="Fibo Capital" data-app />
  <meta property="og:image" name="og:image" content="http://tonvietphap.24h.co/uploaded/logo/logo.png" data-app />

  <link href="/favicon.png" rel="shortcut icon" />
  <link rel="stylesheet" href="/css/font.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css?t=2" />
  <link rel="stylesheet" type="text/css" href="/css/grid.css" />
  <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
  <link rel="stylesheet" type="text/css" href="/css/swiper.css" />
  <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css" />
  <link rel="stylesheet" href="/css/jquery-ui.css" />
  <script src="/js/jquery-1.10.1.min.js"></script>
  <script src="/js/swiper.min.js"></script>
  <script src="/js/script.js"></script>
  <script src="/js/jquery-ui.min.js"></script>
  <script src="/js/jquery.form.min.js"></script>
  <script src="/js/jquery.mmenu.min.all.js"></script>
  <script src="/js/jquery.quick.pagination.min.js"></script>
</head>

<body>
<div id="page">
    <!-- header pc -->
    <div class="top-header hide-on-mobile">
        <div class="grid">
            <div class="flex-container">
                <div class="cell-6-12 hide-on-mobile ">
                    <ul class="header-social">
                        <li>
                          <a href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                      </li>
                        <li>
                          <a href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                      </li>
                        <li>
                          <a href="">
                            <i class="fab fa-youtube"></i>
                        </a>
                      </li>
                    </ul>
                </div>
                <div class="cell-6-12">
                  <div class="flex-container flex-container-round">
                     
                         <a href="#" class="header-order">
                          <img src="/uploaded/product/camdao.png" alt="">
                          Mua kombucha
                         </a>
                    
                  </div>
                </div>
            </div>
        </div>
    </div>
    <header class="header hide-on-pad hide-on-tab">
      <div class="grid">
            <div class="menubar flex-container flex-space-between">
              <ul class="nav  hide-on-mobile menuleft">
                <li class="">
                   <a href="/" class=""><span> Về Vgreen  </span></a>
                   <ul class="submnu1">
                    <li class=""><a href="#">Lịch sử hình thành</a>
                    </li>
                    <li class=""><a href="#">Sứ Mệnh</a>
                    </li>
                    <li class=""><a href="#">Giá trị cốt lõi</a>
                    </li>
                </ul>
                </li>
                <li class=""> 
                  <a href="#" class=""><span>KOMBUCHA LÀ GÌ?    </span></a>
                    
                </li>
                <li class=""> 
                  <a href="#" class=""><span>Sản phẩm</span></a>       
                </li>
                <li class="">
                   <a href="#" class=""><span>Blog </span></a>
                </li>
              </ul>
              <div class="logo">
                <a href="/">
                  <img src="/uploaded/logo/logo.jpg" alt="LogoSite"
                    style="max-width:100%; margin:0 auto"></a>
              </div>
              <ul class="nav hide-on-mobile menuright">
                <li class=""> 
                  <a href="/du-an-dau-tu/" class=""><span>Testimonial</span></a>     
                    
                </li>
                <li class=""> 
                  <a href="/du-an-dau-tu/" class=""><span>Đối tác </span></a>     
                    
                </li>
                <li class=""> 
                  <a href="/lien-he/" class=""><span>Liên hệ </span></a>      
                </li>
                <li class=""> 
                  <a href="/lien-he/" class=""><span>Tết Khỏe đẹp </span></a>      
                </li>
              </ul>
           
        </div>
      </div>
      <div class="c"></div>
    </header>
    <!-- end header pc -->
    <div class="hide-on-pc">
        <div class="header-mb">
          <a href="logo">
            <img src="/uploaded/logo/logo.jpg" alt="">
          </a>
          <a class="menu-mobile" href='#menu'><i class='fa fa-list'></i></a>
         
        </div>
    </div>
  
    <!-- content -->
    <div class="content">
     
     
      <!-- end about-wrapper -->
     <!-- product index -->
     <div class="product-wrapper">
      <div class="grid">
        <div class="title-wrapper text-center">
            Sản phẩm Vgreen
            <div class="c20"></div>
            <div class="line"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
        </div>
        <div class="c30"></div>
          <div class="menu-bar">
            <div class="tab-title active">
              <a href="#" class="">
               Tất cả
            </a> 
            </div>
            <div class="tab-title ">
              <a href="#" class="">
               Tin tức
              </a>  
            </div>
            <div class="tab-title">
              <a href="#" class="">
               Cẩm nang
            </a> 
            </div>
            <div class="tab-title">
              <a href="#" class="">
              Công thức
            </a> 
            </div>  
            <div class="tab-title">
              <a href="#" class="">
                Cộng đồng
            </a> 
            </div>          
          </div> 
     
        <ul class="flex-container">
            <li class="cell-1-3">
                <div class="item">
                  <div class="slidehome">
                    <a href="#">
                      <img src="/uploaded/product/Pineapple-chill-500x500.jpg" alt=""> 
                    </a>
                   <div class="name-product">
                    <a href="#"> White Dragon Fruit</a>
                   </div>
                  <div class="text-center">
                  <a href="#" class="ord"><i class="fa fa-cart-plus" aria-hidden="true"></i> Mua ngay</a>
              </div>
              <div class="c20"></div>
                </div>
                </div>
              </li>
            <li class="cell-1-3">
              <div class="item">
                <div class="slidehome">
                  <a href="#">
                    <img src="/uploaded/product/Pineapple-chill-500x500.jpg" alt=""> 
                  </a>
                 <div class="name-product">
                  <a href="#"> White Dragon Fruit</a>
                 </div>
                 <div class="text-center">
                  <a href="#" class="ord"><i class="fa fa-cart-plus" aria-hidden="true"></i> Mua ngay</a>
              </div>
              <div class="c20"></div>
              </div>
              </div>
            </li>
            <li class="cell-1-3">
            <div class="item">
              <div class="slidehome">
                <a href="#">
                  <img src="/uploaded/product/Pineapple-chill-500x500.jpg" alt=""> 
                </a>
               <div class="name-product">
                <a href="#"> White Dragon Fruit</a>
               </div>
               <div class="text-center">
                  <a href="#" class="ord"><i class="fa fa-cart-plus" aria-hidden="true"></i> Mua ngay</a>
              </div>
              <div class="c20"></div>
            </div>
            </div>
            </li>
            <li class="cell-1-3">
              <div class="item">
                <div class="slidehome">
                  <a href="#">
                    <img src="/uploaded/product/Pineapple-chill-500x500.jpg" alt=""> 
                  </a>
                 <div class="name-product">
                  <a href="#"> White Dragon Fruit</a>
                 </div>
                 <div class="text-center">
                  <a href="#" class="ord"><i class="fa fa-cart-plus" aria-hidden="true"></i> Mua ngay</a>
              </div>
              <div class="c20"></div>
              </div>
              </div>
          </li>
          <li class="cell-1-3">
            <div class="item">
              <div class="slidehome">
                <a href="#">
                  <img src="/uploaded/product/Pineapple-chill-500x500.jpg" alt=""> 
                </a>
               <div class="name-product">
                <a href="#"> White Dragon Fruit</a>
               </div>
               <div class="text-center">
                  <a href="#" class="ord"><i class="fa fa-cart-plus" aria-hidden="true"></i> Mua ngay</a>
              </div>
              <div class="c20"></div>
            </div>
            </div>
          </li>
          <li class="cell-1-3">
          <div class="item">
            <div class="slidehome">
              <a href="#">
                <img src="/uploaded/product/Pineapple-chill-500x500.jpg" alt=""> 
              </a>
             <div class="name-product">
              <a href="#"> White Dragon Fruit</a>
             </div>
             <div class="text-center">
                  <a href="#" class="ord"><i class="fa fa-cart-plus" aria-hidden="true"></i> Mua ngay</a>
              </div>
              <div class="c20"></div>
          </div>
          </div>
          </li>
          <li class="cell-1-3">
            <div class="item">
              <div class="slidehome">
                <a href="#">
                  <img src="/uploaded/product/Pineapple-chill-500x500.jpg" alt=""> 
                </a>
               <div class="name-product">
                <a href="#"> White Dragon Fruit</a>
               </div>
               <div class="text-center">
                  <a href="#" class="ord"><i class="fa fa-cart-plus" aria-hidden="true"></i> Mua ngay</a>
              </div>
              <div class="c20"></div>
            </div>
            </div>
          </li>
        <li class="cell-1-3">
          <div class="item">
            <div class="slidehome">
              <a href="#">
                <img src="/uploaded/product/Pineapple-chill-500x500.jpg" alt=""> 
              </a>
             <div class="name-product">
              <a href="#"> White Dragon Fruit</a>
             </div>
             <div class="text-center">
                <a href="#" class="ord"><i class="fa fa-cart-plus" aria-hidden="true"></i> Mua ngay</a>
            </div>
            <div class="c20"></div>
          </div>
          </div>
        </li>
        <li class="cell-1-3">
        <div class="item">
          <div class="slidehome">
            <a href="#">
              <img src="/uploaded/product/Pineapple-chill-500x500.jpg" alt=""> 
            </a>
           <div class="name-product">
            <a href="#"> White Dragon Fruit</a>
           </div>
           <div class="text-center">
            <a href="#" class="ord"><i class="fa fa-cart-plus" aria-hidden="true"></i> Mua ngay</a>
          </div>
          <div class="c20"></div>
        </div>
        </div>
      </li>
      </ul>
        <div id="pagination-container"></div>
      </div>
     
    </div>
     <!--end product index -->
   
    </div>
    
    <!-- footer -->
    <footer class="footer">
      <div class="footer-top">
        <div class="c30"></div>
          <div class="grid">
            <div class="flex-container">
                <div class="cell-2-3 tab-cell-1-1">
                  <i class="fas fa-envelope"></i>
                  <h3> Đăng ký nhận bản tin từ STAR KOMBUCHA</h3>
                  <p>Nhận các ưu đãi độc quyền, cập nhật mới nhất và bí quyết sống khỏe,...</p>
                </div>
                <div class="cell-1-3 tab-cell-1-1">
                  <form action="" method="post" class="sendmail__frm">

                    <input type="text" name="newsletter" class="sendmail__input" placeholder="Email của bạn...">
  
                    <button type="submit" name="addnewsletter" value="save" class="sendmail__btn">
                      Tham gia
                    </button>
                  </form>
                </div>
            </div>
          </div>
        <div class="c30"></div>
      </div>
      <div class="footer-info">
        <div class="c30"></div>
        <div class="grid">
            <div class="flex-container align-center">
                <div class="cell-1-3 tab-cell-1-1">
                    <div class="left">
                        <div class="title-wrapper">
                            <h4>
                              Thông tin hỗ trợ
                            </h4>
                          </div>
                            <p>Trụ sở chính: Lầu 1 Tòa nhà Pasteur, 139 Pasteur, P. 6, Q.3, TP.HCM <a href="#">(Xem bản đồ)</a> </p>
                            <p>Điện thoại: 1900 633315 | <a href="tel:1900 633315 "> Liên hệ</a> </p>
                            <p>Email: <a href="mailto: cs@goodyvietnam.com"> cs@goodyvietnam.com
                            </a></p>
                        
                    </div>
                </div>
                <div class="cell-1-3 tab-cell-1-1 text-center">
                    <img src="/uploaded/logo/logo.jpg" alt="">
                </div>
                <div class="cell-1-3 tab-cell-1-1">
                  <div class="right">
                      <div class="title-wrapper">
                          <h4>
                            CÔNG TY CỔ PHẦN GOODY GROUP
                          </h4>
                        </div>
                          <p>Trụ sở chính: Lầu 1 Tòa nhà Pasteur, 139 Pasteur, P. 6, Q.3, TP.HCM <a href="#">(Xem bản đồ)</a> </p>
                          <p>Điện thoại: 1900 633315 | <a href="tel:1900 633315 "> Liên hệ</a> </p>
                          <p>Email: <a href="mailto: cs@goodyvietnam.com"> cs@goodyvietnam.com
                          </a></p>
                      
                  </div>
              </div>
            </div>
        </div>
      </div>
      <div class="footer-main">
        <div class="grid">
          <div class="flex-container">
            <div class="cell-1-4 tab-cell-1-1">
                <div class="footer-title" rel="ct">
                  STAR KOMBUCHA
                </div>
                <div class="footer-infor">
                    <a href="#">  Về Star Kombucha </a>
                    <a href="#"> Kombucha là gì?</a>
                    <a href="#"> Sản phẩm Star Kombuch  </a>
                    <a href="#"> Điều khoản sử dụng</a>
                    <a href="#"> Chính sách bảo mật</a>
                </div>
            </div>
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title" rel="ct">
                  MUA HÀNG TRỰC TUYẾN
                </div>
                <div class="footer-infor">
                  <a href="#">Mua ngay tại starkombucha.com</a>
                  <a href="#">Mua trên 3 sàn TMĐT lớn nhất Việt Nam</a>
                  <a href="#" target="_blank"><img src="/images/logo-tiki.png" alt=""></a>
                  <a href="#" target="_blank"><img src="/images/lazada.png" alt=""></a>
                  <a href="#" target="_blank"><img src="/images/shopee-logo.png" alt=""></a>
                </div>
              </div>
            </div>
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                  Liên kết MXH
                 </div>
                <ul class="footer-social">
                
                  <li>
                    <a href="" class="footer-social__item hvr-float">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="" class="footer-social__item hvr-float">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="" class="footer-social__item hvr-float">
                      <i class="fab fa-youtube"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title " rel="ct">
                  CHĂM SÓC KHÁCH HÀNG
                </div>
                <div class="footer-infor">
                  <a href="#"> Trung tâm hỗ trợ khách hàng </a>
                  <a href="#"> Chính sách giao hàng</a>
                  <a href="#"> Chính sách đổi trả  </a>
                  <a href="#"> Chính sách giá cả & thanh toán</a>
                  <a href="#"> Câu hỏi thường gặp</a>
                  <a href="#"><img class="img-bct" src="/images/bocongthuong.png" alt=""></a>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-copyright">
        <div class="grid">
          © Bản quyền thuộc về VGreen  2022.
        </div>
      </div>

    </footer>
    <!-- end footer -->
</div>
<nav id="menu">
  <ul>
    <li>
      <a href="#">About</a>
      <ul>
        <li><a href="https://s.codepen.io/georgemarts/debug/0aa033477732634485c3f04b17321ccb?">History<span>Click me</span></a></li>
        <li><a href="#">Vision</a></li>
        <li><a href="#">Team</a></li>
      </ul>
    </li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Portfolio</a></li>
    <li><a href="#">Clients</a></li>
    <li><a href="#">News</a></li>
    <li>
      <a href="#">Contact</a>
      <ul>
        <li>
          <a href="#">Social Media</a>
          <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Linkedin</a></li>
            <li><a href="#">Twitter</a></li>
          </ul>
        </li>
        <li><a href="#">Careers</a></li>
      </ul>
    </li>
    <li class="plugin"><a href="http://mmenu.frebsite.nl/" targey="_blank">mmenu.js</a></li>
  </ul>
</nav>
 
  <link rel="stylesheet" href="/css/jquery.fancybox.css" />
  <script src="/js/jquery.fancybox.js"></script>
  <link rel="stylesheet" href="/css/hover.css" />
<script>
  // phân trang
   $(".product-wrapper ul.flex-container").quickPagination({
     pagerLocation:"both",
     pageSize:"4"
    });
// end phân trang
  var swiper = new Swiper("#slide_home", {
        pagination: {
          el: ".swiper-pagination",
          dynamicBullets: true,
          clickable: true,
        }, 
        navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      autoplay: {
      delay: 5000,
      },
      });
        
  var swiper = new Swiper("#slide-index_product", {
        pagination: {
          el: ".swiper-pagination",
          dynamicBullets: true,
          clickable: true,
        }, 
        spaceBetween: 30,
        navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      autoplay: {
      delay: 5000,
      },
      slidesPerView: 4,
      breakpoints: {
      500: {
        slidesPerView: 1
      },
      700: {
        slidesPerView: 1.5
      }
      }
      });
     
   
</script>
  
</body>

</html>

